<?xml version="1.0"?>
<config>
    <modules>
        <BitUndPixel_ReadOnlyVat>
            <version>1.0.0</version>
        </BitUndPixel_ReadOnlyVat>
    </modules>
    <global>
        <helpers>
            <bitundpixel_readonlyvat>
                <class>BitUndPixel_ReadOnlyVat_Helper</class>
            </bitundpixel_readonlyvat>
        </helpers>
        <models>
            <bitundpixel_readonlyvat>
                <class>BitUndPixel_ReadOnlyVat_Model</class>
            </bitundpixel_readonlyvat>
        </models>
        <blocks>
            <bitundpixel_readonlyvat>
                <class>BitUndPixel_ReadOnlyVat_Block</class>
            </bitundpixel_readonlyvat>
        </blocks>
    </global>
    <frontend>
        <events>
            <customer_address_save_before>
                <observers>
                    <read_only_vat>
                        <type>singleton</type>
                        <class>bitundpixel_readonlyvat/observer</class>
                        <method>preserveVatId</method>
                    </read_only_vat>
                </observers>
            </customer_address_save_before>
        </events>
        <layout>
            <updates>
                <ReadOnlyVat>
                    <file>read_only_vat.xml</file>
                </ReadOnlyVat>
            </updates>
        </layout>
    </frontend>
</config>
